# Secrets, ouch!
secrets/

# Local env files
.env
.env.*

# Node dependencies
node_modules/

# some editors use this
.#*

# AI tools
.aider*
.prompts
GEMINI.md
.opencode

# just for dev, sometimes
backend/projects/

# Research Institutions database
backend/resources/whitelistProjects.json

# Backend
# Tests
/backend/tests/.coverage/

# Frontend
# Tests for Playwright
/frontend/playwright-report/
/frontend/test-results/
/frontend/tests/playwright-report/
/frontend/.playwright-dev/
/frontend/.playwright-ci/
/frontend/tests/.auth-*
