# Secrets, ouch!
secrets/

# Local env files
.env
.env.*

# Node dependencies
node_modules/

# some editors use this
.#*

# AI tools
.aider*

# don't use functions here yet
functions_js

# just for dev, sometimes
backend/projects/

# Research Institutions database
backend/resources/whitelistProjects.json
