# Secrets, ouch!
secrets/

# Local env files
.env
.env.*

# Node dependencies
node_modules/

# some editors use this
.#*

# AI tools
.aider*

# just for dev, sometimes
backend/projects/

# Research Institutions database
backend/resources/whitelistProjects.json

# Frontend
# Tests for Playwright
frontend/tests/playwright-report/
frontend/tests/test-results/
