# Copy to .env, do not send your .env file to git:
# > cp sample.env .env

################################################
# Funding Agency ("FA") API
# (e.g. FWF)
################################################
# Secret!
RIS_FA_API_KEY=...
RIS_FA_CLIENT_ID=...

# Member ID, as defined in https://forschungsdaten.at/registry/registry.json
# These can be either 'FWF_Test' for development or 'FWF' for production.
RIS_MEMBER_ID=FWF_Test
################################################

################################################
# Research Institution ("RI") API,
# e.g. your university with PURE or another CRIS
################################################
# Secret!
RIS_RI_API_KEY=...
# (PURE_API_URL is optional)
PURE_API_URL="https://.../ws/api"

################################################
# Misc., not sensitive data.
# Might be removed later.
################################################
DATABASE_PASSWORD=dummy
JWT_SECRET=nosecret
JWT_EXPIRES_IN=1h
DATABASE_URL=postgresql://ris-user:dummy@db:5432/ris_db?schema=public
FA_SYNC_TIME=24h
CRIS_SYNC_TIME=30s
LOKI_HOST=http://loki:3100/

################################################
# Grafana Admin User
# (for the Grafana dashboard)
################################################
GF_SERVER_ROOT_URL=http://localhost:3000
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=...
################################################
