# Copy to .env

# Secrets
RIS_FA_API_KEY=...
RIS_RI_API_KEY=...
DATABASE_PASSWORD=dummy
JWT_SECRET=nosecret
JWT_EXPIRES_IN=1h

# Pure API URLs
PURE_API_URL="https://.../ws/api"

# Funding Agency
AUTH_SERVER="https://tsso.fwf.ac.at/auth/realms/sso/protocol/openid-connect/token" # (test) tsso.fwf.ac.at

# oAuth2 Client ID
AUTH_CLIENT_ID="risapi.test.univie"

# RIS URLs
RIS_URL_INFO="https://risapi.fwf.ac.at/info/v1/info/"
RIS_URL_FUNDINGS="https://risapi.fwf.ac.at/funding/v1/fundings/"
RIS_URL_PROJECTS="https://risapi.fwf.ac.at/project/v1/projects/"
RIS_URL_ORGUNITS="https://risapi.fwf.ac.at/orgUnits/v1/organigram"

DATABASE_URL=postgresql://ris-user:dummy@db:5432/ris_db?schema=public
FA_SYNC_TIME=10m
