# Ignore node_modules (if you install dependencies inside the container)
node_modules

# Ignore Yarn-specific directories
.yarn/
.yarnrc*

# Ignore build artifacts or logs
dist/
build/
*.log

# Ignore environment variable files
.env*

# Ignore Dockerfile-related cache files
.dockerignore
Dockerfile

# AI Tools
.aider*

# **/.classpath
# **/.dockerignore
# **/.env
# **/.git
# **/.gitignore
# **/.project
# **/.settings
# **/.toolstarget
# **/.vs
# **/.vscode
# **/.next
# **/.cache
# **/*.*proj.user
# **/*.dbmdl
# **/*.jfm
# **/charts
# **/docker-compose*
# **/compose.y*ml
# **/Dockerfile*
# **/node_modules
# **/npm-debug.log
# **/obj
# **/secrets.dev.yaml
# **/values.dev.yaml
# **/build
# **/dist
# LICENSE
# README.md
